/* estilos gerais */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Trebuchet MS', Helvetic, sans-serif;
    background-color: #e6e6e6;

}

















/* sites

°colors 
°
fonts*/